// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
